* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-transform: capitalize;
}

body {
   font-family: "Cairo", sans-serif;
   background-color: #eee;
   overflow-x: clip;

}

:root {
   --main-color: rgb(6, 6, 6);
   --second-color: black;
}

.main {

   margin-left: auto;
   margin-right: auto;
   transition-delay: 0.3s;
   /* 
  padding-left: 10px;
  padding-right: 10px; */

   /* text-align: center; */
}

@media (min-width: 768px) {
   .main {
      width: 750px;
      padding-left: 40px;
      padding-right: 40px;
   }

}

@media (min-width: 992px) {
   .main {
      width: 970px;
      padding-left: 40px;
      padding-right: 40px;
   }
}

@media (min-width: 1200px) {
   .main {
      width: 1170px;
      padding-left: 40px;
      padding-right: 40px;
   }
}

/* start header */

@media (min-width: 768px) {
   .header .main {
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
   }

}



.header .main {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   background-color: white;
   width: 100%;
   position: fixed;
   z-index: 1000;
   top: 0;
   overflow: hidden;
   font-family: "work sans", sans-serif;
   margin-bottom: 20px;

}

.offichel .main .partners {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.partners img {
   width: 250px;
   height: 300px;
   margin: 10px;
   transition: transform 0.3s ease-in-out;
}

.partners img:hover {
   transform: scale(1.05);
}




.header .main .logo {

   display: flex;
   justify-content: center;
   align-items: center;

}

.header .main .logo p {
   font-size: 12px;
}

.header .main .logo img {
   width: -webkit-fit-content;
   height: 70px;
   width: fit-content;
   width: 106px;
}




.header .main .nav ul {

   display: flex;
   list-style: none;

}

.header .main .nav ul li {
   padding: 10px;

}

.header .main .nav ul li a {
   text-decoration: none;
   color: black;
   font-weight: bold;


}

@media (max-width: 768px) {
   .header .main {
      height: fit-content;
      flex-direction: column;
   }

   .main-header .img {
      height: fit-content;
   }
}

.nav ul li a::after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background: var(--main-color);
   transform: scale(0);

}

.nav ul li a:hover::after {
   transform: scale(1);
   transition: transform 0.5s ease-in-out;
}

footer {
   background-color: black;
   color: white;
   text-align: center;

   padding: 20px;
   position: relative;



}

footer p {
   margin: 10px;
   color: #fff;
   font-family: "Cairo", sans-serif;
   font-weight: 400;
   text-align: center;
   position: relative;

}

footer a {
   color: white;
}

@media (max-width: 768px) {
   footer p {
      font-size: 12px;
   }

   footer {
      padding: 10px;
      text-align: center;
   }
}

.icon {
   display: flex;
   justify-content: center;
}

.icon li {
   list-style: none;
   padding-left: 10px;
   margin-left: 10px;

}

.icon .ul i:hover li {
   background-color: red;
}