* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    font-family: "Cairo", sans-serif;
    /* font-family: BauerBodoniBTW01-Roman,Georgia,serif; */
    background-color: #eee;
    overflow-x: hidden !important;


}



:root {
    --main-color: #000;
    --second-color: black;
}

.main {

    margin-left: auto;
    margin-right: auto;
    transition-delay: 0.3s;
    /* 
   padding-left: 10px;
   padding-right: 10px; */

    /* text-align: center; */
}

@media (min-width: 768px) {
    .main {
        width: 750px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (min-width: 992px) {
    .main {
        width: 970px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 1170px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* start header */

@media (min-width: 768px) {
    .header .main {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

}



.header .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    font-family: "work sans", sans-serif;
    margin-bottom: 20px;

}



.header .main .logo {

    display: flex;
    justify-content: center;
    align-items: center;

}

.header .main .logo p {
    font-size: 12px;
}

.header .main .logo img {
    width: 106px;
    height: 70px;
}




.header .main .nav ul {

    display: flex;
    list-style: none;

}

.header .main .nav ul li {
    padding: 10px;

}

.header .main .nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;


}

.sidbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    gap: 15px;
    text-align: left;
  transition-duration: 1s;

}

.nav i {
    display: none;
}

@media (max-width: 768px) {
    .nav i {
        display: block;
        margin-left: 15px;

    }

    .hidemob {
        display: none;
    }

    .sidbar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 9999;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fff;
        gap: 15px;
        text-align: left;
        list-style:none;
        transition-duration: 1s;



    }


    .sidbar a:hover {
        background-color: #eee;
    }

    .sidbar ul {
        list-style: none;
        text-decoration: none;
        width: 100%;
    }

    .sidbar li {
        width: 100%;
        background-color: #fff;
        text-decoration: none;
        color: black;
        font-weight: bold;


    }

    .sidbar a {
        width: 100%;
        margin-left: 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        display:block;

    }

    .sidbar i {
        font-size: 20px;

    }
}

/* @media (max-width: 768px) {
    .header .main {
        height: fit-content;
        flex-direction: column;
    }

    .main-header .img {
        height: fit-content;
    }
} */

.nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--main-color);
    transform: scale(0);

}

.nav ul li a:hover::after {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}


/* end header */

/* start landing */

.landing .main {
    background-image: url(../photos/main.webp);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-size: cover;

}

@media (max-width: 768px) {
    .landing .main {
        background-position: center;
        width: 100%;
        height: 70vh;
        background-size: cover;
    }


}

.welcome .main {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    direction: rtl;

}

.welcome p {
    color: #777;
}

.about h2 {
    font-size: 40px;
    font-weight: 900;

    direction: rtl;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: var(--second-color);
}

.del .main {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.del .main h3 {

    font-weight: 700;
    color: #000000;

}

.del .main p {
    color: #777;

}

.del .main img {
    width: 100%;
    height: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .del .main {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;

    }

    .del .main img {
        width: 350px;

        margin: 15px;

    }

    .del .main h3 {

        padding: 20px;
        padding-bottom: 0;

    }

    .del .main p {
        font-size: 15px;
        padding: 20px;
    }

}




.landing .main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  !important;
    text-align: center;

    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation-name: h1;
    animation-duration: 2s;

}

@media (max-width: 768px) {
    .landing .main h1 {
        font-size: 20px;
        font-weight: 900;
    }
}

@keyframes h1 {
    0% {
        top: 65%;
        ;
        opacity: 0.6;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

/* end landing */
/* start features */
.features {

    background-color: whitesmoke;
}

.features .main-header {
    padding: 10px;
    margin-top: 30px;

}

.features .main-header h2 {

    font-size: 50px;
    font-weight: 800;
    color: var(--main-color);
    direction: rtl;

}

.features .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;




}

.features .feat {
    padding: 50px;
    text-align: center;

}

.features .main .feat i {
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 50px;

}

.features .main .feat h3 {
    font-weight: 800;
    margin-bottom: 15px;
}

.features .main .feat p {
    color: #525252;
    font-size: 18px;
    line-height: 1.7;
}

/* end features */
/* start contant */
.content .main {
    text-align: center;
    margin-top: 50px;
}

.content .main i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.content .main h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.content .main p {
    font-size: 20px;
    padding: 30px;
    padding-top: 15px;
    direction: rtl;
    color: #777;
}

.img-two img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* end contant */
.main-header {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    direction: rtl;

}

.main-header h2 {
    color: #0e0c0a;
    font-size: 80px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

@media (max-width: 768px) {
    .features .main-header h2 {
        font-size: 35px;
    }

}

@media (max-width: 768px) {
    .main-header h2 {
        font-size: 40px;
    }

}

.kitchens .main .kite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .kitchens .main .kite {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .kitchens .main .kite img {
        width: 350px;


    }

    .kitchens .main .kite .text {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom:30px;
    }

    .kitchens .main .kite .text p {
        font-size: 15px;
       padding-left: 45px;
        padding-right: 25px;
        padding-top: 0px;
    }

    .kitchens h3 {
        padding-left: 45px;
        padding-right: 25px;
        margin-bottom:0px;
    }

}



.kitchens h3 {
    font-size: 30px;
    margin-bottom: 0px;

}

.kitchens .main .text {
    margin-left: 50px;
}

.kitchens .main p {
    font-size: 20px;
    color: #777;
}

.kitchens .main img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
}


/* end kitchens */
/* starr bath */
.bathrooms .main .bath {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



@media (max-width: 768px) {
    .bathrooms .main .bath {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .bathrooms .main .bath img {
        width: 350px;


    }

    .bathrooms .main .bath .text {
        
       margin-bottom:30px;

    }
    .bathrooms .main .bath .text h3{
   padding-left: 45px;
        padding-right: 25px;
    }

    .bathrooms .main .bath .text p {
        font-size: 15px;
       padding-left: 45px;
        padding-right: 25px;
        padding-top: 0px;
    }

}
.bathrooms h3 {
    font-size: 30px;
    margin-bottom: 0px;

}



.bathrooms .main p {
    font-size: 20px;
    color: #777;

}

.bathrooms .main img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
}

/* end bath */

.offices .main .offi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .offices .main .offi {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .offices .main .offi img {
        width: 350px;


    }

    .offices .main .offi .text {
      
        margin-left: 0px;
        margin-top: 0px;
        margin-botto:30px;
    }

    .offices .main .offi .text p {
        font-size: 15px;
        padding-left: 45px;
        padding-right: 25px;
        padding-top: 0px;
    }

    .offices h3 {
    padding-left: 45px;
        padding-right: 25px;
        margin-bottom:0px;
    }
}

.offices h3 {
    font-size: 30px;
    margin-bottom: 0px;

}

.offices .main .text {
    margin-left: 50px;
}

.offices .main p {
    font-size: 20px;
    color: #777;

}

.offices .main img {
    width: 1200px;
    height: 350px;
    border-radius: 10px;
}

/* end offices */
/* color */
.coloro .main {
    text-align: center;
    margin-top: 50px;
}

.coloro .main i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.coloro .main h2 {
    font-size: 60px;
    margin-bottom: 5px;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.coloro .main p {
    font-size: 20px;
    padding: 30px;
    padding-top: 15px;
    direction: rtl;
}

.coloro .img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;



}

.img img {
    width: 190px;
    height: 200px;
    border-radius: 25px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.img img:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

/* end color */
/* buttum */
.my-button {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.my-button a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.my-button:hover {
    background-color: rgb(171, 50, 50);
    transform: scale(1.05);
}

/* end buttum */
/* colors */
.colors .main .imges {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.colors .main .imges img {
    width: 350px;
    height: 470px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;

}

.coloro .imge img:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .colors .main .imges {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;


    }

    .colors .main .imges img {
        width: 350px;
        height: 450px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


}

@media (max-width: 768px) {
    .img img {
        width: 175px;
    }
}

.map .main {
    display: flex;
    justify-content: center;
}

.map img {
    width: 1200px;
}

@media (max-width: 768px) {
    .map img {
        width: 630px;
    }
}


footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;

    padding: 20px;
    position: relative;



}

footer p {
    margin: 10px;
    color: #fff;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    text-align: center;

    position: relative;

}

footer a {
    color: white;
}

@media (max-width: 768px) {
    footer p {
        font-size: 12px;
    }

    footer {
        padding: 10px;
        text-align: center;
    }
}

.icon {
    display: flex;
    justify-content: center;
}

.icon li {
    list-style: none;
    padding-left: 10px;
    margin-left: 10px;

}

.icon .ul i:hover li {
    background-color: red;
}
.map h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;


}

.map {
    background-color: #fff;

}

.map img {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .map .main {
        width: 100%;
    }

    .map img {
        width: 100%;
        margin-bottom: 30px;
    }

    .map h2 {
        font-size: 20px;
    }
}
